!!! 5
html(lang='zh-CN')
    head
        meta(charset='UTF-8')
        title
        link(rel='stylesheet', href='style/ukagaka.css')
        script(type='text/javascript', src='/script/vendor/require.js', data-main='/script/main/initial.js')
    body
